.mainSearch {
    background-color: #F3F4F9;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.cards {
    margin-bottom: 20px;
    width: 100vw;
    gap: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.top {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.top span {
    display: flex;
    text-align: center;
    width: 100vw;
    justify-content: center;
    /*position: absolute;*/
    font-weight: 600;
    font-size: 32px;
    margin-top: 80px;
}
.newSearch {
    height: 77px;
    width: 216px;
    background-color: #FC6027;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    border-radius: 5px;
    font-size: 24px;
    color: #F3F4F9;
    position: absolute;
}
a {
    text-decoration: none;
}
@media only screen and (max-width: 900px) {
    .top {
        display: flex;
        width: 100vw;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-right: 90px;
    }
    .newSearch {
        font-size: 14px;
        height: 44px;
        width: 142px;
        position: static;
        margin: 0 -20px 0 0;
    }
    .top span {
        font-size: 18px;
        margin-top: 0;
        margin-left: 60px;
        justify-content: flex-start;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 8px !important;
    }
}