.bodyProfile {
    background-color: #F3F4F9;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 80px 0;
}
.back {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
    font-size: 32px;
    height: 39px;
    color: #FC6027;
    cursor: pointer;
}
._profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.arrow {
    width: 20px;
    font-size: 60px;
    align-items: center;
    padding-top: 30px;
}
.navHistory {
    font-size: 24px;
    font-weight: 600;
    margin-left: 100px;
}
.avatarProfile {
    height: 295px;
    width: 295px;
    border-radius: 500px;
    border: 13px solid #4B4FA1;
    margin-left: 100px;
    object-fit: cover;
    object-position: top;
}
._profile h3, .xp h3, .recomendations h3 {
    font-size: 32px;
    font-weight: 600;
}
.infos h3 {
    margin-left: 0px;
}
.role {
    font-size: 24px;
    font-weight: 400;
}
.infos {
    display: flex;
    flex-direction: column;
    margin-left: 77px;
    margin-bottom: 30px;
}
.linkedin {
    height: 29px;
    font-size: 24px;
    background-image: url(../../assets/lkdn.svg);
    background-repeat: no-repeat;
    padding-left: 35px;
    margin-top: 32px;
}
.messageBtn {
    height: 87px;
    width: 383px;
    background-color: #FC6027;
    color: #F3F4F9;
    font-size: 32px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-right: 100px;
    cursor: pointer;
}
.line {
    height: 2px;
    width: 69vw;
    background-color: #FC6027;
    right: 0;
    position: absolute;
    margin-right: 100px;
}
.qualities {
    font-size: 24px;
    display: flex;
    width: 295px;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}
.experience {
    display: flex;
    flex-direction: row;
}
.xp {
    width: 69vw;
    margin: 50px 0 0px 70px;
    justify-content: right;
    display: flex;
    flex-direction: column;
}
.xp h3 {
    margin-left: 0;
    margin-bottom: 24px;
}
.skill1, .skill2, .skill3, .skill4 {
    height: 20px;
    width: 211px;
    margin-bottom: 48px;
    margin-top: 8px;
    border-radius: 18px;
}
.skill1 {
    background-color: #4B4FA1;
    border-radius: 18px;
}
.skill2 {
    background-color: rgba(75, 79, 161, 0.1);
    background-image: url(../../assets/skillbar-875.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.skill3 {
    background-color: rgba(75, 79, 161, 0.1);
    background-image: url(../../assets/skillbar-75.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.skill4 {
    background-color: rgba(75, 79, 161, 0.1);
    background-image: url(../../assets/skillbar-50.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.xpContent {
    font-size: 24px;
}
.recomendations {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin-left: 470px;
    width: 69vw;
}
.recomendations h3 {
    background-image: url(../../assets/star.svg);
    background-position: left;
    background-size: 36px;
    background-repeat: no-repeat;
    padding-left: 50px;
    text-align: left;
    margin-bottom: 24px;
    margin-left: 0px;
}
.recomendations p {
    font-size: 28px;
}
.recContent {
    margin-bottom: 30px;
}
.recAuthor {
    text-align: left;
    margin-bottom: 60px;
}
@media only screen and (max-width:1700px) {
    .recomendations {
        width: 65vw;
    }
    .line {
        width: 65vw;
    }
}
@media only screen and (max-width: 1550px) {
    .line {
        width: 58vw;
    }
    .qualities {
        margin-right: 20px;
    }
}
@media only screen and (max-width:900px) {
    .mainProfile {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .header {
        margin: 0;
    }
    .back {
        font-size: 0;
        margin: 0;
        position: absolute;
    }
    .arrow {
        height: 0;
        width: 0;
        font-size: 0;
        margin: 0;
        color: #F3F4F9;
        position: absolute;
    }
    .navHistory {
        font-size: 12px;
        margin-left: 28px;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 9px;
    }
    .avatarProfile {
        height: 100px;
        width: 100px;
        border: 6px solid #4B4FA1;
        margin: 0 0 0 10px;
    }
    .messageBtn {
        height: 47px;
        width: 189px;
        font-size: 14px;
        margin: 400px 0 0 0;
        right: auto;
    }
    .goto {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        position: absolute;
    }
    .line {
        height: 0;
        width: 0;
        margin: 0;
        position: absolute;
    }
    ._profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        gap: 24px;
    }
    ._profile h3 {
        font-size: 18px;
    }
    .role {
        font-size: 14px;
    }
    .infos {
        margin: 0px;
        padding-bottom: 20px;
    }
    .linkedin {
        font-size: 14px;
        background-size: 16px;
        padding-left: 20px;
        margin-top: 16px;
    }
    .experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100vw;
    }
    .qualities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 12px;
        justify-content: center;
        align-items: baseline;
        gap: 24px;
        height: 70px;
        width: 300px;
        margin: 0;
        /*margin: 0 13vw 0 13vw;*/
    }
    .contain {
        display: flex;
        flex-direction: column;
        margin-bottom: -400px;
    }
    .skill1, .skill2, .skill3, .skill4 {
        height: 10px;
        width: 117px;
        margin: 0;
    }
    .xp {
        margin: 100px 0 0 0;
        width: 80vw;
    }
    .xp h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .xp p {
        font-size: 14px;
    }
    .recomendations {
        width: 80vw;
        margin: 24px 0 0 10vw;
        display: flex;
        justify-content: center;
    }
    .recomendations h3 {
        font-size: 14px;
        background-size: contain;
        padding-left: 25px;
        margin: 0 45vw 9px 0;
    }
    .recomendations p {
        font-size: 14px;
    }
    .recAuthor {
        margin: 0 0 20px 0;
        text-align: left;
        width: 80vw;
    }
}