body {
    overflow-x: hidden;
}
.mainHome {
    background-color: #F3F4F9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    z-index: 2;
}
aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
}
.main-image {
    background-image: url(../../assets/mesa-trabajo.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 459px;
    width: 688px;
    margin-top: 35px;
    margin-bottom: 0;
}
.searchForm {
    display: flex;
    justify-content: center;
    margin-left: -70px;
}
.searchInput {
    height: 60px;
    width: 487px;
    border-radius: 20px 0px 0px 20px;
    margin-left: 82px;
    margin-top: 0;
    font-weight: 600;
    font-size: 18px;
    text-align: right 50px;
    border: 2px solid #4B4FA1;
    outline: 0;
    line-height: 21.94px;
    background-color: #F3F4F9;
    padding: 0;
    text-indent: 20px;
}
.searchInput::placeholder {
    color: black;
}
.searchBtn {
    height: 60px;
    width: 121px;
    border-radius: 0px 20px 20px 0px;
    background-color: #4B4FA1;
    background-image: url(../../assets/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    cursor: pointer;
}
article {
    margin: 50px 0 0 0;
    font-size: 24px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article h3 {
    font-weight: 600;
}
ul {
    margin-top:27px;
    width: 40vw;
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.list {
    display: flex;
    align-items: center;
    font-weight: 400;
    height: 58px;
    margin-bottom: 20px;
    padding-left: 60px;
    background-image: url(../../assets/orange.svg);
    background-repeat: no-repeat;
    background-position: left;
    z-index: 1;
}
.suggestion {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    align-items: center;
    gap: 24px;
}
.suggestion div {
    display: flex;
    height: 40px;
    width: 127px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: #4B4FA1;
    font-size: 14px;
    color: #F3F4F9;
    cursor: pointer;
}
.hiddenBar {
    width: 5px;
    height: 341px;
    background-color: #FE885C;
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    z-index: 0;
}
@media only screen and (min-width: 1700px) {
    article h3 {
        text-align: left;
        width: 670px;
    }
    .mainHome {
        overflow: hidden;
    }
}
@media only screen and (max-width: 900px) {
    .mainHome {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .main-image {
        height: 241px;
        width: 383px;
        margin-top: 0px;
    }
    .searchForm {
        width: 100vw;
        height: 46px;
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: center;
    }
    .searchBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .searchInput, .searchBtn {
        height: 46px;
        font-size: 12px;
        background-size: 21px;
    }
    .searchInput {
        margin: 20px 30px 0 70px;
        width: 287px;
    }
    .searchBtn {
        margin: 20px 0 0 -30px;
        width: 68px;
    }
    .suggestion {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin: 30px 0 0 0;
    }
    .suggestion strong {
        font-size: 14px;
    }
    .suggestion div {
        font-size: 10px;
        height: 24px;
        width: 80px;
    }
    article {
        margin: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
    article .list {
        height: 34px;
        font-size: 14px;
        width: 90vw;
        background-size: 25px;
        margin-left: -130px;
        margin-bottom: 13px;
        padding-left: 35px;
    }
    h3 {
        font-size: 18px;
        margin-top: 20px;
    }
    article ul {
        margin-top: 10px;
    }
    .hiddenBar {
        width: 3px;
        height: 191px;
        margin-left: -118px;
    }
    @media only screen and (min-width: 600px) {
        .mainHome {
            height: 150vh;
            width: 100vw;
        }
    }
}