.chat {
    display: flex;
    gap: 14px;
    align-items: center;
    margin: 7px 0px;
    justify-content: flex-end;
    width: 100%;
}
.msg {
    background: rgba(75, 79, 161, 0.2);
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 20px;
    word-break: break-all;
    max-width: 70%;
}
.user-chat-image {
    background-image: url(../../assets/user-chat.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #4B4FA1;
    border-radius: 60px;
    margin-right: 10px;
}
@media only screen and (max-width: 900px) {
    .msg {
        font-size: 13px;
    }
    .user-chat-image {
        height: 35px;
        width: 35px;
    }
}