.mainSearch {
    background-color: #F3F4F9;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.mainSearch .cards {
    margin-bottom: 20px;
    width: 100vw;
    gap: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
section {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
section span {
    display: flex;
    text-align: center;
    margin-left: 42vw;
    position: absolute;
    font-weight: 600;
    font-size: 32px;
}
.newSearch {
    height: 77px;
    width: 216px;
    background-color: #FC6027;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    border-radius: 5px;
}
.newSearch > p {
    font-size: 24px;
    color: #F3F4F9;
    text-decoration: none;
}
@media only screen and (max-width: 900px) {
    section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-right: 90px;
    }
    .newSearch {
        font-size: 14px;
        height: 44px;
        width: 142px;
    }
    section span {
        font-size: 18px;
        width: 80vw;
        justify-content: flex-start;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 8px !important;
    }
}